.sidebar{
    width: 20%;
    height: 100vh;
    background-color: #4723D9;
    position: fixed;
    color: #F7F6FB;
    padding: 25px 10px;
}
.sidebar .sidebar-logo{
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 10px; 
}
.sidebar ul{
    padding-top: 5px;
    list-style: none;
}
.sidebar ul li{
    padding-top: 45px;
    font-size: 18px;
}
.sidebar ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
