<div class="sidebar" [class.toggle]='isStatus'>
    <div class="mt-3 ms-4">
        <a class="sidebar-logo">Emp-Record-Man</a>
    </div>
    <ul>
        <li><i class="bi bi-person-square"></i><a [routerLink]="['profile']">Profile</a></li>
        <li><i class="bi bi-table"></i><a [routerLink]="['all_employee']">All Employee</a></li>
        <li><i class="bi bi-person-add"></i><a [routerLink]="['add_employee']">Add Employee</a></li>
        <li><i class="bi bi-person-add"></i><a [routerLink]="['get_employee']">Get Employee</a></li>
        <li><i class="bi bi-box-arrow-in-left"></i><a (click)="logout()">Log Out</a></li>
    </ul>
</div>