.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #4723D9;
    position: fixed;
    color: #F7F6FB;
    min-width: 150px;
}
.sidebar.toggle{
    display: none;
}
.sidebar .sidebar-logo{
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.sidebar ul{
    padding: 15px 0 0 40px;
    list-style: none;
}
.sidebar ul li{
    padding-top: 45px;
    font-size: 18px;
}
.sidebar ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/* @media screen and (max-width: 768px) {
    .sidebar.sidebar-mb{
        display: none;
    }
} */
